body {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    margin: 3rem;
}

label {
    margin: 1rem 0;
    font-family: inherit;
}

input {
    margin: 0 0 1.5rem 0;
    height: 3rem;
    padding: 1rem;
    font-family: inherit;
}

button {
    height: 2.5rem;
    background-color: brown;
    color: white;
    cursor: pointer;
    border-radius: 3rem;
    font-family: inherit;
}